.ws-mr-already-merged .mr-state-widget {
   background-color: #CCCCCC !important;
}

.ws-mr-not-merged .mr-state-widget {
   background-color: #FFCC66 !important;
}

.ws-mr-merged .mr-state-widget {
   background-color: #99FFCC !important;
}

.btn.plus1 {
   width: 70px;
   background-color: #3777b0;
   color: white;
}

.btn.plus1:hover, .btn.plus1:active {
   background-color: #3788b0;
   color: white;
}

.merge-request-details .label-branch:last-child {
   background-color: yellow;
}

.wiki > p {
   white-space: pre !important;
}

.ws-copy-link {
   top: 4px;
   left: 32px;
   cursor: pointer;
   font-size: 2em !important;
   position: absolute;
   z-index: 99999;
}

.ws-copy-link:hover {
   color: rgb(255, 210, 0);
}

.ws-copy-link:active {
   color: rgb(255, 160, 0);
}
