.ws-mr-already-merged .mr-state-widget {
   background-color: #CCCCCC !important;
}

.ws-mr-not-merged .mr-state-widget {
   background-color: #FFCC66 !important;
}

.ws-mr-merged .mr-state-widget {
   background-color: #99FFCC !important;
}

.ws-button.plus1 {
   width: 100px;
   margin-bottom: 4px;
}

.merge-request-details .label-branch:last-child {
   background-color: yellow;
}

.wiki > p {
   white-space: pre !important;
}

.ws-copy-link {
   left: 50%;
   top: 14px;
   cursor: pointer;
   font-size: 2em !important;
   position: absolute;
   z-index: 99999;
}

.ws-copy-link:hover {
   color: rgb(255, 210, 0);
}

.ws-copy-link:active {
   color: rgb(255, 160, 0);
}
